/* BULMA overwriten properties */
html, body {
    font-family: 'Inria Sans', sans-serif;
    background-color: #f9f9f9;
}

/* .title {
    color: #242424 !important;
} */

.button.is-rounded {
    border-radius: 5px;
    background: #0F9D58;
}

.button.is-rounded:hover {
    background-color: #0d6e3f;
}

#citation {
    background: white;
}
pre {
    background: #f1f1f1;
    border-radius: 5px;
}

.MJX-TEX {
    font-size: 16px;
}

a {
    color: #1e88e5;
}

/* Custom classes */
.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-header {
    font-size: 4em !important;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: -0.1em; */
    margin-bottom: 0 !important;
    font-variant: small-caps;
}

.title-main {
    font-size: 2.5em !important;
    max-width: 600px;
    margin: auto;
}

.author-block a {
    color: #0F9D58;
}
.author-block a:hover {
    color: #0d6e3f;
}

matex:before {
    font-variant: small-caps;
    font-weight: bold !important;
    content: "Material Palette";
}

/* headlines with lines */
.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span > img{
    vertical-align: bottom;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid hsla(0, 0%, 29%, 0.137);
   width: 100vw;
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}

.button-toggle {
    height: 25px;
    width: 90px;
}
/*
.button-id {
    background-color: #650b65 !important;
}
.button-ood {
    background-color: darkblue !important;
} */

todo {
    color: red;
    font-style: italic;
}
todo:before {
    content: "[todo: ";
    font-weight: bold;
}
todo:after {
    content: "]";
    font-weight: bold;
}