/* BULMA overwriten properties */
body {
    font-family: 'Inria Sans', sans-serif;
    background-color: #f9f9f9;
    margin: 10px
}
html {
    background-color: #f9f9f9;
}

/* carousel */
/* .slider-pagination {
    display: none;
} */

.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
    user-select: none;
}

.slider-item > div {
    margin: 0 30px;
}
/* .title {
    color: #242424 !important;
} */

.button.is-rounded {
    border-radius: 5px;
    background: #0F9D58;
}

.button.is-rounded:hover {
    background-color: #0d6e3f;
}

#citation {
    background: white;
}
pre {
    background: #f1f1f1;
    border-radius: 5px;
}

/* .MJX-TEX {
    font-size: 16px;
} */

a {
    color: #1e88e5;
}
.icon {
    margin-right: 0.4em !important;
}
/* Custom classes */
.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-header {
    font-size: 4em !important;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: -0.1em; */
    margin-bottom: 0 !important;
    font-variant: small-caps;
}

.title-main {
    font-size: 2.5em !important;
    max-width: 710px;
    margin: auto;
}

.author-block a {
    color: #0F9D58;
}
.author-block a:hover {
    color: #0d6e3f;
}

.matex {
    font-variant: small-caps;
    font-weight: bold !important;
    /* content: "Material Palette"; */
}

#corn-tex {
    cursor: zoom-in;
    color: transparent;
    position: absolute;
    width: 11.5%;
    height: 20%;
    right: 5.5%;
    top: 14.5%;
    user-select: none;
}

#coral-tex {
    cursor: zoom-in;
    color: transparent;
    position: absolute;
    width: 11.5%;
    height: 20%;
    right: 5.5%;
    top: 36%;
    user-select: none;
}

#giraffe-tex {
    cursor: zoom-in;
    color: transparent;
    position: absolute;
    width: 11.5%;
    height: 20%;
    right: 5.5%;
    top: 57.5%;
    user-select: none;
}

#zebra-tex {
    cursor: zoom-in;
    color: transparent;
    position: absolute;
    width: 11.5%;
    height: 20%;
    right: 5.5%;
    top: 79.5%;
    user-select: none;
}

.ref-overlay {
    width: 70px;
    height: 19px;
    position: absolute !important;
    /* background: cyan; */
    background: transparent;
    cursor: help !important;
}
/* .modal-card, .modal-content {
    width: 80% !important;
    height: auto;
} */
.carousel-section {
    overflow: hidden !important;
    border-radius: 10px;
    padding: 1em 1.5rem;
    border: 2px solid  #c6c6c629;
}
.has-tooltip-bottom {
    cursor: default !important;
}
.texsd-img {
    /* width: 50%; */
}
.table td {
    border: 0
}
/* headlines with lines */
.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span > img{
    vertical-align: bottom;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid hsla(0, 0%, 29%, 0.137);
   width: 100vw;
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}

.button-toggle {
    height: 25px;
    width: 90px;
}
/*
.button-id {
    background-color: #650b65 !important;
}
.button-ood {
    background-color: darkblue !important;
} */

todo {
    color: red;
    font-style: italic;
}
todo:before {
    content: "[todo: ";
    font-weight: bold;
}
todo:after {
    content: "]";
    font-weight: bold;
}